name: Test

on:
  workflow_call:
    inputs:
      python-version:
        type: string
        default: "3.12"
        required: false

jobs:
  action:
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install dependencies
        run: pip install .[test] pytest pytest-cov

      - name: Run tests
        run: pytest --cov=ui_coverage_tool --cov-report=xml --cov-report=term-missing

      - name: Upload coverage
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          verbose: true
          fail_ci_if_error: true

    runs-on: ubuntu-latest
